doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Colors of California
		meta(name='description', content='Colors of California')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic")
		link(rel='stylesheet', href='css/site.css')
		link(rel="icon" href="/favicon.ico")

	body
		//- script(src='js/thing.js?t=' + build_info.timestamp)
