
// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

#header
  padding-top: 10rem
  padding-bottom: 4rem
  margin-bottom: 4rem
  background-color: $color-initial !important
  border-bottom: 4px solid $color-secondary

#footer
  padding-bottom: 0rem

.floating
    animation-name: floating
    animation-duration: 10s
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out

@keyframes floating
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
