<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/milligram.css">

  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6343762717339832",
      enable_page_level_ads: true
    });
  </script>

</head>
<body>

<!-- For now there's no need for a header -->
<!-- <header>
  <p>
    <a href="/">Home</a>
  </p>
</header> -->
<div id="content">
  <h1>{{ title }}</h1>
  <div id="webcam">
    <iframe title="HCD2L" class="youtube-player" type="text/html"
width="720" height="405" src="https://www.youtube.com/embed/live_stream?channel=UCijedT-gm1Z_pwlJOlOUyzg"
frameborder="0" allowFullScreen></iframe>
  </div>

  {{{ contents }}}
</div>

</body>
</html>
