@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500')

// Vars
$sans = 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$serif = 'Lora', serif
$sans-dos = 'Roboto', sans-serif
$column = 640px
$border = 5px
$border-sm = 3px
$heavy = 700
$medium = 400

// Stylus Modules
@import '/import/normalize'
@import '/import/colors'
@import '/import/type'
@import '/import/layout'
@import '/import/portfolio'
@import '/import/sbb'
@import '/import/modal'