body
    background-color $bg-color

.header
    width 100%
    height 10em
    background-color #fefefe
    border-bottom 4px solid $secondary

.content-container
    width 100%

.content
    margin 0 auto
    max-width 40em