body
    background-color $bg-color

.header
    width 100%
    height 10em
    background-color #fefefe
    border-bottom $border solid $secondary
    position relative

.content-container
    width 100%

.content
    margin 0 auto
    max-width $column

ul
    text-transform lowercase
    padding 0
    // margin 0 0 auto
    li
        display inline-block
        margin-left -.15em
    li:first-child
        margin unset
    li::before
        content '\00a0'
    li:first-child::before
        content ''
    li::after
        content '\00a0.'
    li:last-child::after
        content ''

footer
    p
        font-size 14px
        text-align right
        color $secondary

.breadcrumb
    position absolute
    left 10px
    bottom -35px
    color $secondary
    font-family $sans

@media all and (max-width: $column)
    .content
        padding 0 10px
    .header
        border-bottom $border-sm solid $secondary