// Typography

h1, h2, h3, p
    font-family 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
    color $primary

h1
    font-weight 700
    font-size 4em

p
    font-weight 300
    font-size 2.5em
    line-height 1.25em