include includes/head.pug
//- Maybe make this an includes
.header
//-----------------------------
.content-container
    .content
        h1 sadbumblebee
        .desc
            p Appreciate you coming by.
            p I excel at storytelling. I translate ideas through mediums like motion graphics, dataviz, and illustrations to create memorable experiences.
            p I value trust, communication, and action.
            p If you wanna work together, that’s great. Take a look at my [projects](/portfolio).
        .social
            hr
            ul
                li Twitter
                li Github
                li Email
include includes/footer.pug